<div class="header">
    <ul class="menu">
        <li>
            <img class="logo" src="./assets/Dislinkt_logo.png">
        </li>
        <li> My Profile </li>
        <li> My Network </li>
        <li> Messages </li>
        <li>
            <button class="changeLang" href="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es,fr,it,pt,de,sr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element');
                    }
                </script>
            </button>
            Languages     
        </li>
    </ul>
</div>
