.container-fluid{
    background-color: rgba(213, 195, 195, 0.914);
    border-bottom: solid 10px rgb(0, 0, 0);
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0%;
}
#logo{
    width: 17rem;
    height: 7rem;
}
#navbarNavAltMarkup{
    justify-items: center;
    justify-content: space-around;
}
.pressB{
    width: 80px;
    height: 40px;
    background-color: rgba(48, 143, 206, 0.914);
    border-bottom: solid 6px rgba(48, 143, 206, 0.914);
    font-weight: bold;
}
#sgin{
    margin-left: 400px;
}
#sgup{
    margin-left: 100px;
}
#logout{
    width: 3rem;
    height: 3rem;
    margin-left: 250px;
}
.container-gif{
    background-color: rgba(48, 143, 206, 0.914);
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 0%;
    margin-top: 0%;
}
